@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');

:root {
    --font: Roboto;
    --font-size: 15px;
}
@font-face {
    font-family: Roboto, sans-serif;
}
@font-face {
    font-family: Estrella;
    src: url("../fonts/Estrella-Early.otf");
}
@font-face {
    font-family: Modular;
    src: url("../fonts/ModularSans.otf");
}
@font-face {
    font-family: Error;
    src: url("../fonts/error-404.otf");
}
body {
    background-color: #15152a;
}
ul{
    position:relative;
    display:flex;
    flex-direction:column;
    gap:30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 140px;
    left: -34px;
}
ul li{
  list-style:none;
  position:relative;

}
ul li a{
    position:relative;
    text-decoration:none;
    font-size:35px;
    line-height: 30px;
    color:transparent;
    letter-spacing: 6px;
    -webkit-text-stroke:0.5px var(--clr);
    font-family: Modular;
    top: -20px;
    z-index: 1200;
}
ul li a::before{
  content:attr(data-text);
  position:absolute;
  color:var(--clr);
  width:7px;
  overflow:hidden;
  transition:1.2s;
  height: 30px;
  border-right:2px solid var(--clr);

}
ul li a:hover::before {
    width: 96%;
    animation: blink 0.1s;
}
ul li a:hover  {
    transform: scale(1.5);
}
.flex-container {
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap column;
    position: relative;
    justify-content: space-between;
    align-content: center;
    top: 20px;
}
.form-group {
    background-color: #4c4c6b;
    background-size: cover;
    height: 200px;
    position: relative;
    align-self: center;
    align-content: center;
    min-width: 200px;
    max-width: 200px;
    border-radius: 10px;
    transition: transform .5s ease;
    top: 150px;
    left: -25px;
    border: none;
    box-shadow: 5px 5px #32324b;
    margin: auto;
}
.form-group:hover {
    transform: scale(1.2);
}
.form-group:hover ~ .box {
    transform: scale(1.2);
}
.form-group:hover ~ .dot {
    transform: scale(1.5);
    transform: translate(50, -2000px);
}

.form-group:hover ~ .dot_2 {
    transform: translateX(230px);
}
.flex-item {
    text-align: center;
    font-family: var(--font);
    font-size: var(--font-size);
    color: limegreen;
    padding: 2px;
    z-index: 1;
}
#user {
    margin-top: 25px;
}
#type {
    margin-top: 5px;
}
.input {
    width: 70%;
    outline-style: none;
    box-shadow: none;
    font-size: var(--font-size);
    font-family: var(--font);
    z-index: 1;
    margin-left: 15%;
    border-radius: 4px;
    margin-top: 2%;
}
.input::placeholder {
    font-family: var(--font);
    font-size: var(--font-size);
}
.select {
    width: 75%;
    font-family: var(--font);
    font-size: var(--font-size);
    outline-style: none;
    box-shadow: none;
    z-index: 1;
    margin-left: 13%;
    border-radius: 4px;
}
.option {
    width: 100%;
    font-family: var(--font);
    font-size: var(--font-size);
    outline-style: none;
    box-shadow: none;
    z-index: 1;
}
.btn-submit {
    border-radius: 2px;
    font-family: var(--font);
    font-size: 15px;
    color: #ffffff;
    background-color: #34af34;
    margin-left: 35%;
    margin-top: 6.5%;
    text-align: center;
    border: none;
    box-shadow: 4px 4px #076207;
    cursor:pointer;
}
.btn-submit:hover {
    background-color: #1b7c1b;
}
.box {
    margin: 0 auto;
    background-color: #589845;
    height: 175px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 10px;
    transition: transform .5s ease;
    z-index: -900;
    border: none;
    box-shadow: 5px 5px #076207;
}
.dot {
    height: 120px;
    width: 120px;
    background-color: #e81c59;
    border-radius: 50%;
    display: inline-block;
    z-index: -1000;
    margin: 0 auto;
    position: relative;
    transition: transform 0.7s ease;
    bottom: 250px;
    left: -120px;
    border: none;
    box-shadow: 5px 5px #7e0d2f;
}
.dot_2 {
    height: 100px;
    width: 100px;
    background-color: #e8bf1c;
    border-radius: 50%;
    display: inline-block;
    z-index: -1200;
    margin: 0 auto;
    position: relative;
    transition: transform 0.7s ease;
    bottom: 270px;
    left: -110px;
}


@keyframes blink {
  100% {
    border-color: transparent;
  }
}